# Ignore GitHub configuration directory
.github/

# Ignore obsidian vault shit
.obsidian/
github-obsidian
github-obsidian.pub

# pycharm
.idea/

# library files
library.db

# .resources/ directory
.resources